:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-dark: #31261A;
    --color-primary-light: #faf4ea;
}
/* base - глобальні/базові стилі */
body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}
/* button - стилі кнопок */
.button {
    color: var(--color-primary-light);
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
    cursor: pointer;
}
.button:hover {
    background-color:  transparent;
    color: var(--color-brand-dark);
}

/* .button:active {
    background-color: grey;
    color: var(--color-brand-dark);
} */
/* link - стилі посилання */
.link {
    color: var(--color-primary-light);
}
.link:hover {
    color: var(--color-brand-light);
}
/* hero section */
.hero-title {
    color: var(--color-primary-light);
    /* font-family: 'Poppins', sans-serif; прописуємо лінк в хеад для всього сайту повністю 
     */
         
     text-decoration: none;
     text-align: center;
}
.hero-title .accent {
    color: var(--color-brand-light);
}
/* advantages section */
.advantages-list {
    color: --color-primary-light:;
        background-color: var(--color-brand-light);

}
.section-title .accent{
    color: var(--color-brand-dark)
}
/* traditons-text */
.traditions-text span {
    color: var(--color-brand-light);
    text-transform: uppercase;
}