.button {
    color: rgba(250, 244, 234, 1);
    border-radius: 8px;
    border: 2px solid #819B57;
    background-color: #819B57;
    cursor: pointer;
}
.button:hover {
    background-color:  transparent;
    color: rgba(70, 89, 41, 1);
}

.button:active {
    background-color: grey;
    color: rgba(70, 89, 41, 1);
}